<div class="container">
    <div class="col-xs-6" style="text-align:left">
        <h6>Built for Code One Omaha</h6>
        <h6>Copyright 2015</h6>
    </div>
    <div class="col-xs-6" align="right">
        <h6>Contact Us</h6>
        <h6>Phone: (402) 555-1234</h6>
        <h6>Email: example@futurefirst.com</h6>
    </div>

    <!--<div class="navbar-header" style="min-height: 60px">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% load staticfiles %}
        <a class="navbar-brand" href="https://www.firstnational.com/"><img src="{% static "img/first-national-logo2.png" %}"/></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/retirement" class="large-text">Retirement</a></li>
            <li><a href="/investment" class="large-text">Investment</a></li>
            <li><a href="/debt" class="large-text">Debt</a></li>
        </ul> 
    </div>-->
</div>