{% extends "page.html" %}

{% block title %}Debt{% endblock %}

{% block summary %}

<h1 class="green-text">Debt</h1>
<p>
    <button class="btn btn-primary" data-toggle="modal" data-target="#videoModal">Watch the Video</button>
</p>
<div class="modal" id="videoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top:-12px;">×</button>
            </div>
            <div class="modal-body">
                {% load staticfiles %}
                <img src="{% static "img/debt-video.png" %}"/>
            </div>
        </div>
    </div>
</div>

<div>
    <p>Responsibly managing debt is the single most important aspect to financial security.</p>

    <h2 class="green-text">Common Debts</h2>

    <div id="student">
        <div class="row">
            <div class="col-xs-6">
                <h3>Student Loans</h3>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-primary example-button" data-bind="click: studentDebtExample">Load Example</button>
            </div>
        </div>
        <a href="" data-bind="click: showStudent, text: linkTextStudent"></a>
        <p data-bind="visible: studentVisible">Covering the costs of tuition while attending college can be difficult. To make ends meet, many students take loans. In the US, there is more than $1.2 trillion in outstanding debt, divided among 40 million borrowers, with an average balance of $29,000. Staying ahead of the curve is crucial for recent graduates. Use this page to calculate important information about what loan you should aim for.</p>
    </div>
    <hr/>
    <div id="Mortgage">
        <div class="row">
            <div class="col-xs-6">
                <h3>Mortgages</h3>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-primary example-button" data-bind="click: mortgageDebtExample">Load Example</button>
            </div>
        </div>
        <a href="" data-bind="click: showMortgage, text: linkTextMortgage"></a>
        <p data-bind="visible: mortgageVisible">Owning a home is a very important step towards financial independence, but the burdens of mortgage payments put huge financial stresses on home buyers. Buying a home for the right price at the right time presents both a challenge and an opportunity for recent graduates. This page helps calculate everything you want to know about buying a home.</p>
    </div>
    <hr/>
    <div id="Other">
        <h3>Other Loans</h3>
        <a href="" data-bind="click: showOther, text: linkTextOther"></a>
        <p data-bind="visible: otherVisible">Many other types of loans are taken by recent graduates. These include auto loans, personal loans, and small business loans. Finding a balance between taking the loans that you need and your income is challenging, but necessary for financial stability.</p>
    </div>
</div>

{% endblock %}


{% block graphs %}
<h1 class="green-text">Debt Calculations</h1>

<ul class="nav nav-tabs">
    <li class="active"><a href="#quick-calc" data-toggle="tab" data-bind="click: changeTab(0)" aria-expanded="true">Quick Calc</a></li>
    <li class=""><a href="#debt-calc" data-toggle="tab" data-bind="click: changeTab(1)" aria-expanded="false">Multiple Debt Calculator</a></li>
    <li class=""><a href="#full-calc" data-toggle="tab" data-bind="click: changeTab(2)" aria-expanded="false">Full Calculator</a></li>
</ul>

<div id="calc-tabs" class="tab-content">

    <div class="tab-pane fade active in" id="quick-calc">
        <div class="row">
            <div class="col-sm-12" data-bind="with: debt">
                <br>
                <p>Use the following calculator to find out what your monthly payment will be with the given Amount, Period and Yearly Interest Rate.</p>
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-3">
                            <h3>Amount</h3>
                        </div>
                        <div class="col-xs-3">
                            <h3>Time (Years)</h3>
                        </div>
                        <div class="col-xs-3">
                            <h3>Yearly Rate</h3>
                        </div>
                        <div class="col-xs-3">
                            <h3>Monthly Payment</h3>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-3">
                            <input class="form-control"  data-bind="value: amount" />
                        </div>
                        <div class="col-xs-3">
                            <input class="form-control" data-bind="value: period" />
                        </div>
                        <div class="col-xs-3">
                            <input class="form-control" data-bind="value: rate" />
                        </div>
                        <div class="col-xs-3">
                            <input class="form-control" disabled="" data-bind="value: paymentFormatted" />
                        </div>
                    </div>
                    <div data-bind="morris: {type: 'Area',
                         data: area,
                         xkey: 'year',
                         ykeys: ['value'],
                         labels: ['Amount Owed'],
                         parseTime: false,
                         continuousLine: false}">
                    </div>
                    <p>This chart displays the total principal owed over time if you borrowed $<span data-bind="text: amount"></span> with a <span data-bind="text: rate"></span>% interest rate to be payed off in <span data-bind="text: period"></span> years.</p>
                </form>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="debt-calc">
        <p><br/><button class="btn btn-blue" data-bind="click: addDebt">Add Debt</button></p>
        <div class="row">
            <div class="col-xs-3">
                <h3>Amount</h3>
            </div>
            <div class="col-xs-2">
                <h3>Time (Years)</h3>
            </div>
            <div class="col-xs-2">
                <h3>Yearly Rate</h3>
            </div>
            <div class="col-xs-3">
                <h3>Monthly Payment</h3>
            </div>
        </div>
        <div data-bind="foreach: debts">
            <div class="row form-group">
                <div class="col-xs-3">
                    <input class="form-control"  data-bind="value: amount" />
                </div>
                <div class="col-xs-2">
                    <input class="form-control" data-bind="value: period" />
                </div>
                <div class="col-xs-2">
                    <input class="form-control" data-bind="value: rate" />
                </div>
                <div class="col-xs-3">
                    <input class="form-control" disabled="" data-bind="value: paymentFormatted" />
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-sm btn-danger" data-bind="click: $parent.removeDebt">X</button>
                </div>
            </div>
        </div>
    </div>
    <div data-bind="morris: {type: 'Area',
                         data: debtsChart,
                         xkey: 'year',
                         ykeys: ykeys,
                         labels: ykeys,
                         parseTime: false,
                         continuousLine: false}, visible: multipleDebtVisible()">
    </div>

    <div class="tab-pane fade" id="full-calc" data-bind="click: changeResult">
        <select style="color: grey" data-bind="value: selectedResult, click: changeResult, options: resultOptions">
        </select>
        <form class="form-horizontal">
            <div class="row">
                <div class="col-xs-3">
                    <h3>Amount</h3>
                </div>
                <div class="col-xs-3">
                    <h3>Time (Years)</h3>
                </div>
                <div class="col-xs-3">
                    <h3>Yearly Rate</h3>
                </div>
                <div class="col-xs-3">
                    <h3>Monthly Payment</h3>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-xs-3">
                    <input id="full-amount" class="form-control"  data-bind="value: fullAmount, enable: amountEnabled" />
                </div>
                <div class="col-xs-3">
                    <input id="full-period" class="form-control" data-bind="value: fullPeriod, enable: periodEnabled" />
                </div>
                <div class="col-xs-3">
                    <input id="full-rate" class="form-control" data-bind="value: fullRate, enable: rateEnabled" />
                </div>
                <div class="col-xs-3">
                    <input id="full-payment" class="form-control" data-bind="value: fullPayment, enable: paymentEnabled" />
                </div>
            </div>
        </form>
    </div>
</div>

{% load static %}
<script src="{% static "js/pages/debt.js" %}"></script>

{% endblock %}