{% extends "page.html" %}

{% block title %}Investments{% endblock %}

{% block summary %}

<h1 class="green-text">Investing Your Earnings</h1>

<div id="investing">
    <p>
        <button class="btn video-button" data-toggle="modal" data-target="#videoModal">Watch the Video</button>
    </p>
	<p>Investing your money responsibly and wisely is a great way to ensure financial security for the future.</p>
	<p>There are several common types of investments that can be made, with large variation in rates of return and periods of investment.</p>
    <div class="modal" id="videoModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top:-12px;">×</button>
                </div>
                <div class="modal-body">
                    {% load staticfiles %}
                    <img src="{% static "img/investments-video.png" %}"/>
                </div>
            </div>
        </div>
    </div>

	<h2 class="green-text">Investments</h2>

	<div id="stock">
        <div class="row">
            <div class="col-xs-6">
                <h3>Stocks</h3>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-primary example-button" data-bind="click: stockExample">Load Example</button>
            </div>
        </div>
        <a href="" data-bind="click: showStocks, text: linkTextStock"></a>
		<p data-bind="fadeVisible: stocksVisible">Buying stock in publicly-traded companies is a very common and well-known investment. When a company wishes to raise money, they sell shares of their company to investors. The price is set by the estimated worth of the company, and is constantly changing. Investors buy and sell these stocks based on their expectations for the change in price of the stock. Most investors buy stock intending to hold onto it for several years, as the value of stocks tend upward. However, there is no guarantee of a profit when you buy stocks.</p>
	</div>
    <hr/>
	<div id="bond">
        <div class="row">
            <div class="col-xs-6">
                <h3>Bonds</h3>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-primary example-button" data-bind="click: bondExample">Load Example</button>
            </div>
        </div>
        <a href="" data-bind="click: showBonds, text: linkTextBond"></a>
		<p data-bind="fadeVisible: bondsVisible">Bonds are sold by companies and governments in order to raise funds for projects. Bonds can be thought of as small loans for which you are the lender. After a set period of time, the issuer of the bond will make periodical interest payments on the loan, based on a predetermined rate and schedule. After a set amount of time, the bond is said to mature, and the issuer repays the amount borrowed. Bonds are a very safe and dependable investment, as the returns are fixed and guaranteed. However, there is still a small chance that the bond will not be repaid, typically because the issuer filed for bankruptcy.</p>
	</div>
    <hr/>
	<div id="cd">
        <div class="row">
            <div class="col-xs-6">
                <h3>CDs</h3>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-primary example-button" data-bind="click: cdExample">Load Example</button>
            </div>
        </div>
        <a href="" data-bind="click: showCDs, text: linkTextCD"></a>
		<p data-bind="fadeVisible: cdsVisible">Certificates of deposit, or CDs, are promissory notes issued by banks. The holder is restricted from withdrawing funds from the account, but will recieve a much higher interest rate than a typical savings account. Institutions that offer CDs are backed by the FDIC, so even if the institution collapses, the investor is insured for up to $250,000. This makes CDs an incredibly reliable investment.</p>
	</div>
</div>

{% endblock %}

{% block graphs %}
<h1 class="green-text">Investment Forecast</h1>
<p>Use this tool to compare mulitple investments to see which ones will bring you the greatest returns</p>
<button class="btn btn-blue" data-bind="click: addInvestment">Add Investment</button>
<div class="row">
    <div class="col-xs-4">
        <h3>Amount</h3>
    </div>
    <div class="col-xs-3">
        <h3>Time (Years)</h3>
    </div>
    <div class="col-xs-3">
        <h3>Yearly Rate</h3>
    </div>
</div>
<div data-bind="foreach: investments">
    <div class="row form-group">
        <div class="col-xs-4">
            <input class="form-control"  data-bind="value: amount" />
        </div>
        <div class="col-xs-3">
            <input class="form-control" data-bind="value: period" />
        </div>
        <div class="col-xs-3">
            <input class="form-control" data-bind="value: rate" />
        </div>
        <div class="col-xs-1">
            <button class="btn btn-sm btn-danger" data-bind="click: $parent.removeInvestment">X</button>
        </div>
    </div>
</div>

<div data-bind="morris: {type: 'Line',
                         data: chart,
                         xkey: 'year',
                         ykeys: ykeys,
                         labels: ykeys,
                         parseTime: false,
                         continuousLine: true }">
 </div>

{% load static %}
<script src="{% static "js/pages/investment.js" %}"></script>

{% endblock %}
