{% extends "page.html" %}

{% block title %}Debts{% endblock %}

{% block summary %}

<h1>Debts</h1>

<h2>Student Loans</h2>
<p>Covering the costs of tuition while attending college can be difficult. To make ends meet, many students take loans. In the US, there is more than $1.2 trillion in outstanding debt, divided among 40 million borrowers, with an average balance of $29,000. Staying ahead of the curve is crucial for recent graduates. Use this page to calculate important information about what loan you should aim for.</p>

<h2>Mortgages</h2>
<p>Owning a home is a very important step towards financial independence, but the burdens of mortgage payments put huge financial stresses on home buyers. Buying a home for the right price at the right time presents both a challenge and an opportunity for recent graduates. This page helps calculate everything you want to know about buying a home.</p>

<h2>Credit</h2>
<p>Using credit is an essential part of modern life, but overspending is a very real threat to your financial security. Learn about how much you can afford to buy on credit.</p>

{% endblock %}


{% block graphs %}

<h1>Graphs</h1>

{% endblock %}