{% extends "base.html" %}

{% block title %}Future First | Planning for your future{% endblock %}

{% block body %}

<div class="container">

    <div class="jumbotron">
        <h1>Future First</h1>
        <h2>Planning for the future is hard. <span style="color: ">Future First</span> makes it easy.</h2>
        <p>Unsure about your financial future? Do you find yourself second-guessing your financial decisions? Future First is here to help educate you to take control of your financial future.</p>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Retirement Planning</h3>
                </div>
                <div class="panel-body">
                    <p>It's never too early to start planning for retirement. Start planning today to secure a safe and enjoyable retirement.</p>
                    <p><a class="btn btn-primary btn-lg" href="/retirement">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Investments</h3>
                </div>
                <div class="panel-body">
                    <p>Have some extra cash laying around? Invest in stocks bonds or other assets to get a return on that cash.</p>
                    <p><a class="btn btn-primary btn-lg" href="/investment">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Debt Management</h3>
                </div>
                <div class="panel-body">
                    <p>Debt is tough and interest rates are even tougher. Use our tool to visualize and plan your debt repayment.</p>
                    <p><a class="btn btn-primary btn-lg" href="/debt">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}